.containerCarrousel {
    z-index: 0;
    height: 100%
}

.divCarrousel {
    width: 100%;
    height: 100%
}

img {
    width: 100%;
    height: 100%
}

.sliderTitle {
    position: absolute;
    top: 45%;
    text-align: center;
    z-index: 7;
    font-size: 4rem;
    background-color: #FFE1E1;
    width: 100%;
    margin-bottom: 2rem;
    text-transform: uppercase;
    padding: 0 4rem;
}
